<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: blanchedalmond;"><%= title %></h1>
    <p>
      <table>
        <thead>
          <tr>
            <td> <a href="?titulo=1" title="Ordem alfabética">Título</td>
            <td>  <a href="?autor=1"title= "Ordem alfabética">Autor</td>
            <td> <a href="?ano=1" title="Ordem crescente">Ano</td>
            <td> Acões</td>
            <td> Filtros </td>
            <td> <a href="?titulo=1" title="Ordem alfabética"> Título A-Z </td>
            <td> <a href="?autor=1" title="Ordem Z-A"> Autor A-Z </td>
            <td> <a href="?ano=1" title="Ordem crescente">Mais antigos</td>
            <td> <a href="?ano=-1" title="Ordem decrescente">Mais recentes</td>
            
           
        </thead>
        <tbody>
             <% customers.forEach(item => {
             %>

          <tr>
            <td> <a href="/edit/<%= item._id %>" ><%= item.titulo %> </a></td>
            <td> <a href="/edit/<%= item._id %>" ><%= item.autor %> </a></td>
            <td> <a href="/edit/<%= item._id %>" ><%= item.ano %> </a></td>
            
            <td>
              <a href="/edit/<%=item._id %>" title="Editar"> 
                <img src="/imagens/352547_edit_mode_icon (2).png" />
              </a>
              <a href="/delete/<%=item._id %>" title="Excluir" 
                onclick="return confirm('Tem certeza que deseja excluir?')">
                <img src="/imagens/3017912_annul_cancel_clean_delete_eliminate_icon.png" />
              </a>
            </td>
           </tr>
           
         <% }) %>
        </tbody>
      </table>
      <ul>
        
      
        
      </ul>
    </p>
    <br>
    <a id="cadastro" href="/new">Cadastrar novo</a>
  </body>
</html>
