<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      <table>
        <thead>
          <tr>
            <td>Título</td>
            <td>Ano</td>
            <td>Autor</td>
            <td>Acões</td>
          </tr>
        </thead>
        <tbody>
             <% customers.forEach(item => {
             %>
          <tr>
            <td><%= item.titulo %></td>
            <td><%= item.ano %></td>
            <td><%= item.autor %></td>
           </tr>
         <% }) %>
        </tbody>
      </table>
      <ul>
        
      
        
      </ul>
    </p>
    <br>
    <a href="/new">Cadastrar novo</a>
  </body>
</html>
